* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

#heart {
    font-size: 7em;
    color: red;
    text-align: center;
    line-height: 100vh;
    transform: matrix(50% 50%);
    animation: heart 1.25s infinite;
}

@keyframes heart {
    0% {
        transform: scale( .75);
    }
    25% {
        transform: scale( 1);
    }
    50% {
        transform: scale( .75);
    }
    75% {
        transform: scale( 1);
    }
    100% {
        transform: scale( .75);
    }
}